<nav class="navbar navbar-fixed-top navbar-dark bg-primary">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">App.ly</a>
  </div>

  <div id="navbar">
    <% unless current_user %>
      <div class="col-xs-2 col-xs-offset-6">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info btn-lg"  %>
      </div>
      <div class="col-xs-2">
        <%= link_to "Log In!", new_user_session_path, :class => 'btn btn-info btn-lg'  %>
      </div>
    <% end %>
  </div>



</nav>